.container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
    border: min(0.1vw, 2px) solid #000;
    padding: 1vw;
    font-weight: 600;
    div {
        width: 15%;
        white-space: nowrap;
        font-size: min(1.5vw, 28.8px);
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}