.container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
    border: min(0.05vw, 1px) solid #000;
    padding: 1vw;
    div {
        width: 15%;
        font-size: min(1vw, 19.2px);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}